p1 {
    color: black;
    text-align: left;
	font-family: Times;
    font-size: 21px;
	margin-top:40px;
	display: block;

}

p2{
    color: black;
    text-align: center;
	font-family: Times;
    font-size: 21px;
	margin-top:40px;
	display: block;

}



body{
    text-align: center-left;
	font-family: Times,sans-serif;
	padding: 0px 200px 0px 200px;

}

h1.center{
    text-align: center;
	font-size: 55px;
	align:center;
	color:#03a9f4;
	font-family:  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:40px;
}
